
    <div class="container my-auto">
        <div class="row">
            <!--<div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Welcome to Air Asia Customer Experience Improvement Program</strong>
                </h1>
                <hr>
            </div>-->
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Welcome to Air Asia Customer Experience Improvement Program</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Continue</a>
            </div>
        </div>
    </div>